<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
   
    <title>Pet Vida - Gestão</title>
    <div class="container-imagem">
    <img src="./assets/imagem_pets.png" alt="Minha Figura">
    </div>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <span class="title" onclick="navigate('/home')">Pet Vida</span>

    <nav>
      <button onclick="navigate('/clientes')" class="btn-go">Clientes</button>
      <button onclick="navigate('/pets')" class="btn-go">Pets</button>
      <button onclick="navigate('/servicos')" class="btn-go">Serviços</button>
      <button onclick="navigate('/fornecedores')" class="btn-go">
        Fornecedores
      </button>
      <button onclick="navigate('/vendas')" class="btn-go">Vendas</button>
    </nav>

    <div id="app" class="sup-container"></div>
     
    </script>
    <script src="js/router.js"></script>
  </body>
</html>
